.dataTableColumnHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  width: 100%;
  height: 100%;
  background: none;
  gap: var(--xenon-margin-xxs);

  &--content {
    display: flex;
    flex-direction: column;
    align-items: center;

    :global(.xenon-picker),
    :global(.xenon-select),
    :global(.xenon-input-group-wrapper) {
      max-width: 220px;
    }

    :global(.xenon-radio-wrapper) {
      padding: var(--components-dropdown-component-paddingblock, 5px)
        var(--components-dropdown-global-controlpaddinghorizontal, 12px);
      width: 100%;
      height: 100%;
    }

    :global(.xenon-dropdown__item) {
      padding: 0;
    }
  }

  &--trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    padding: 2px 15px !important;
    width: 100%;
    min-height: 24px;
    max-width: 240px;
    font-weight: bold;
    background: transparent;

    &-icon {
      color: var(--xenon-color-text-disabled);

      &_active {
        color: var(--xenon-color-primary) !important;
      }

      svg {
        width: 12px;
        height: 12px;
      }
    }

    &:hover {
      background-color: var(--xenon-color-fill-content);
    }

    &[data-status="open"] {
      background-color: var(--xenon-color-fill-content);
    }
  }
}

.reset {
  padding: var(--components-dropdown-component-paddingblock, 5px)
    var(--components-dropdown-global-controlpaddinghorizontal, 12px) !important;
}
