.header {
  display: flex;
  align-items: center;
  padding: 0 var(--xenon-padding-sm);

  .xenon-theme-picker {
    z-index: 0;
  }
}

.navbar {
  li:nth-child(1) {
    pointer-events: none;
    color: var(--xenon-color-primary) !important;
    display: flex;
    align-items: end;

    svg {
      margin-bottom: 1rem;
    }
  }

  width: 50%;
  margin-right: auto;
}
